$Container-width-sm: 48rem !default;
$Container-width-md: 60rem !default;
$Container-width-lg: 70rem !default;


/*ã€€sircus-components-container
======================================== */
.Container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

@media #{$g-viewport-sm} {
  .Container {
    max-width: $Container-width-sm;
  }
}

@media #{$g-viewport-md} {
  .Container {
    max-width: $Container-width-md;
  }
}

@media #{$g-viewport-lg} {
  .Container {
    max-width: $Container-width-lg;
  }
}

.Container--slim {
  max-width: $Container-width-sm;
}
